@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family: 'Poppins', sans-serif; 
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4F5955;
    color: white;
    width: 100%;
    height: 50px;
    padding: 0 20%;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media .fa {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    padding: 15px;
}


/* NAVBAR  */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20%; 
}

.navlinks ul {
    display: flex;
    list-style: none;
}

.navlinks ul li {
    padding: 0px 20px;
}

.navlinks ul li a {
    text-decoration: none;
    color: #4F5955;
    font-weight: bold;
    font-size: 16px;
}


/* HERO  */

.hero {
    background-image: url(images/sl-home2.svg);
    background-position: center;
    background-size: cover;
    height: 550px;
}

.hero h1 {
    padding: 150px 20% 0;
    color: #4F5955;  
}

.hero p {
    padding: 15px 0;
    margin-left: 20%;
    color: #4F5955;   
    margin-bottom: 20px;
    width: 530px;
}

.hero a {
    text-decoration: none;
    margin-left: 20%;
    background-color: #4F5955;
    color: white;
    padding: 15px 40px;
}

/*  About Us  */

.about-us {
    margin: 0 20%;
    display: flex;
    background-color: #FFF;
    gap: 40px;
    align-items: flex-start;
    padding: 60px 0;
}

.about-us-content {
    flex-basis: 60%;
    margin: 40px 0;      
}

.about-us-content p:first-of-type {
    color: #D9C3A9;  
    font-weight: bold;
    font-size: 14px;
}

.about-us-content h2 {
    color: #4F5955;  
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.about-us-content p:nth-of-type(2) {
    color: #535656;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 10px;
}

.about-us-content p:nth-of-type(3) {
    color: #535656;  
    font-size: 14px;
    margin-bottom: 10px;
}

.about-us-form {
    flex-basis: 40%;
    background-color: #FFF;
    color: #535656;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.about-us-form h3 {
    font-weight: bold;
    font-size: 30px;
    background-color: #4F5955;
    color: white;
    padding: 20px;
}

.about-us-form p {
    font-style: italic;
    font-size: 13px;
    color: #535656;
    padding: 20px 20px 0;
}

.about-us-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    margin-bottom: 10px;
}

.about-us-form input, select, button {
    padding: 10px;
    border: 1px solid #CCC;
}

.about-us-form button {
    background-color: #F2EDDC;
    color: #4F5955;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}


/*  */